.header {
  font-family: $font_family_var;
  background-image: url('/src/img/img_background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  box-sizing: border-box;
}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__img {
  height: 56px;
  width: 187px;

  margin-left: 120px;
  margin-top: 36px;
  margin-bottom: 36px;

  background-image: url('/src/img/img_MyBiKE.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;

  @include mobile {
    height: 38px;
    width: 130px;

    margin-left: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.header__nav {
  margin-right: 120px;
  width: 96px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    width: 72px;
    margin-right: 20px;
  }
}

.header__nav__icon__phone {
  height: 32px;
  width: 32px;
  background-image: url('/src/icon/icon_phone.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include mobile {
    height: 24px;
    width: 24px;
  }
}

.header__nav__icon__burger {
  height: 32px;
  width: 32px;
  background-image: url('/src/icon/icon_burger.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include mobile {
    height: 24px;
    width: 24px;
  }
}

.header__title {
  margin-top: 428px;
  margin-inline: 298px;
  margin-bottom: 203px;
  font-family: $font_family_var;
  font-style: Bold;
  font-weight: 700;
  line-height: 100%;
  font-size: 80px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: -1.5px;
  color: $white_color;

  @include tablet {
    margin-top: 434px;
    margin-inline: 72px;
    margin-bottom: 130px;
    font-size: 64px;
  }

  @include mobile {
    margin-top: 356px;
    margin-inline: 20px;
    margin-bottom: 78px;
    font-size: 36px;
  }
}
