@import '../styles/variables';
@import '../styles/mixins';
@import '../styles/header';
@import '../styles/menu';
@import '../styles/main_content';
@import '../styles/footer';

body {
  margin: 0;
  background-color: $menu_text_color;
  scroll-behavior: smooth;
}

h2,
p {
  margin: 0;
  padding: 0;
}

button,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-shadow: none;

  font: inherit;
  color: inherit;

  box-sizing: border-box;
}

textarea {
  resize: none;
}
