@import '../styles/variables';
@import '../styles/mixins';
@import '../styles/header';
@import '../styles/menu';
@import '../styles/main_content';

body {
  margin: 0;
  background-color: $menu_text_color;
  scroll-behavior: smooth;
}
