.main {
  margin-top: 120px;
  font-family: $font_family_var;
  font-weight: 500;
  font-style: Medium;
  margin-inline: 120px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
  color: $white_color;

  @include tablet {
    grid-template-columns: repeat(6, 1fr);
    margin-inline: 72px;
  }

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    margin-inline: 20px;
  }
}

.main__move__free {
  grid-column: 1 / span 4;
  font-size: 64px;
  letter-spacing: -1.5px;
  line-height: 100%;
}

.main__move__description {
  grid-column: 6 / span 6;
  font-size: 23px;
  letter-spacing: 0;
  line-height: 140%;
}

@include tablet {
  .main__move__free {
    grid-column: 1 / span 3;
    font-size: 48px;
  }

  .main__move__description {
    grid-column: 4 / span 3;
  }
}

@include mobile {
  .main__move__free {
    grid-column: 1 / -1;
    font-size: 32px;
    margin-bottom: 32px;
  }

  .main__move__description {
    grid-column: 1 / -1;
  }
}

.compare__bikes__heading,
.details__heading,
.contacts__heading {
  grid-column: 1 / -1;
  margin-top: 164px;
  margin-bottom: 56px;

  line-height: 100%;
  font-size: 64px;
  text-align: center;
  letter-spacing: -1.5px;

  @include tablet {
    font-size: 42px;
    margin-top: 132px;
    margin-bottom: 48px;
  }

  @include mobile {
    font-size: 32px;
    line-height: 32px;
    margin-top: 92px;
    margin-bottom: 48px;
  }
}

.bike__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bike__icon {
  width: 100%;
  margin-bottom: 32px;
}

.bike__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0;
}

.bike__description {
  margin-bottom: 16px;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
}

.block--m1 {
  grid-column: 1 / span 4;
}

.block--m2 {
  grid-column: 5 / span 4;
}

.block--m3 {
  grid-column: 9 / span 4;
}

.auto__icon--1 {
  grid-column: 1 / span 8;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.auto__icon--2 {
  grid-column: 9 / span 4;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.auto__icon--3 {
  grid-column: 1 / span 4;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.auto__icon--4 {
  grid-column: 5 / span 8;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-1 {
  grid-column: 1 / -1;
  margin-bottom: 8px;
  margin-top: 16px;
}

.description--1 {
  grid-column: 1 / span 8;
}

.explore__heading {
  margin-top: 32px;
  padding: 14.5px 0;
  color: $menu_text_color;
  background-color: $white_color;
  border-radius: 40px;

  font-style: Bold;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 27px;
  text-align: center;
}

.explore--1 {
  grid-column: 5 / span 4;
  margin-bottom: 120px;
}

.contact--1 {
  margin-bottom: 48px;
  margin-top: 0;
}

.detail--1 {
  margin-bottom: 48px;
}

.contact__inputs {
  grid-column: 1 / span 5;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact__inputs input,
.contact__inputs textarea,
.contact__inputs button {
  padding-left: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 16px;

  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;

  border-radius: 40px;
  color: #7e7e83;
}

.contact__inputs textarea.input--message {
  margin-bottom: 32px;
  height: 148px;
  border-radius: 16px;
}

.contact__inputs button {
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;
  text-align: center;
  color: $menu_text_color;
}

.contact__inputs button:hover {
  box-shadow: 1px 4px 16px 0 #e8e8f066;
}

input:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
  color: #292929;
}

.contacts__info {
  grid-column: 8 / span 3;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  gap: 24px;

  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0;
}

.contacts__info .bold {
  margin-top: 8px;

  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
}

@include tablet {
  .block--m1 {
    grid-column: 2 / span 4;
  }

  .block--m2 {
    grid-column: 2 / span 4;
  }

  .block--m3 {
    grid-column: 2 / span 4;
  }

  .auto__icon--1 {
    grid-column: 1 / span 4;
  }

  .auto__icon--2 {
    grid-column: 5 / span 2;
  }

  .auto__icon--3 {
    grid-column: 1 / span 2;
  }

  .auto__icon--4 {
    grid-column: 3 / span 4;
  }

  .description--1 {
    grid-column: 1 / span 6;
  }

  .explore--1 {
    grid-column: 2 / span 4;
    margin-bottom: 120px;
  }

  .contact__inputs {
    grid-column: 1 / span 3;
  }

  .contacts__info {
    grid-column: 4 / span 2;
  }
}

@include mobile {
  .block--m1 {
    grid-column: 1 / -1;
  }

  .block--m2 {
    grid-column: 1 / -1;
  }

  .block--m3 {
    grid-column: 1 / -1;
  }

  .auto__icon--1 {
    grid-column: 1 / span 1;
  }

  .auto__icon--2 {
    grid-column: 2 / span 1;
  }

  .auto__icon--3 {
    grid-column: 1 / span 1;
  }

  .auto__icon--4 {
    grid-column: 2 / span 1;
  }

  .description--1 {
    grid-column: 1 / span 2;
  }

  .explore--1 {
    grid-column: 1 / span 2;
    margin-bottom: 80px;
  }

  .contact__inputs {
    grid-column: 1 / span 2;
    margin-bottom: 48px;
  }

  .contacts__info {
    grid-column: 1 / span 2;
  }
}
